@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root, #__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}
